langchain
langchain-community
langchain-openai
langchain-HuggingFace
langchain-groq
langgraph
openai
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
sentence-transformers
pypdf
